@import "variables";

body, button, input, select, textarea {
  font-family: $main-default-font;
}

.site {

  margin: 0 auto;
  padding: 0;

  &-inner {
    max-width: 4096px;
    margin: 0;
    padding: 0;
  }

  &-header {

    padding: 0;

    &-main {
      padding: 0 50px 0 50px;
    }
  }

  &-footer {
    background-color: $main-layout-color;
  }

  &-info {

    p {
      margin: 0 auto;
    }

  }
}

.main {

  &-navigation {
    font-family: $main-default-font;

    li:first-child {
      width: 100px;
    }

    li:nth-child(2) {
      width: 120px;
    }
  }
}

.header {

  &-image {

    img {
      width: 100%;
    }

  }
}

#mainNaviButton {
  text-transform: none;
  font-family: $main-default-font;
  font-weight: 600;
}
