@import "variables";
@import "functions";

body, button, input, select, textarea {
  font-family: $main-default-font;
}

.site {

  margin: $margin-auto;
  padding: 0;

  &-content {
    padding: 0;
  }

  &-inner {
    max-width: 4096px;
    margin: 0;
    padding: 0;
  }

  &-header {

    padding: 0;

    &-main {
      padding: 0 50px 0 50px;
    }
  }

  &-footer {
    background-color: $main-layout-color;
    padding-top: 50px;
  }

  &-info {

  }
}

.footer {

  &-info {
    p {
      margin: $margin-auto;
      font-size: 12px;
      color: #ffffff;
    }

    a {
      color: white;

      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }

    &-title {
      font-weight: bold;
    }
  }
}

.afc {

  &-home {
    margin: 10px 200px;

    @media screen and (max-width: 56.875em) {
      margin: 0 10px;
    }
  }

  &-image {
    text-align: center;
    max-width: 100%;
    margin-bottom: 25px;
  }

  &-description {
    margin: $margin-auto;
    text-align: center;

    &-header {
      margin: $margin-auto;
      text-align: center;
      font-weight: 600;
    }

  }

  &-divider {

    background-color: $main-layout-color;
    margin-bottom: 25px;
    color: $white-color;

    padding: 10px 0;

    p {
      margin: 0;
      font-weight: 600;
      text-align: center;
    }

    span {
      padding: 0 25px;
      margin-left: 50px;
      border: solid 1px $white-color;
    }

    a:hover {
      text-decoration: none;
      color: $white-color;
    }

    a {
      color: $white-color;
    }

  }

  &-repeater {

    margin: 0 100px;

    &-post {

      img {
        width: 25%;
        height: auto;
      }
    }
  }
}

.main {

  &-navigation {

    font-family: $main-default-font;

    li:first-child {

      @media screen and (max-width: 56.875em) {
        width: 100%;
      }

      width: 100px;
    }

    li:nth-child(2) {

      @media screen and (max-width: 56.875em) {
        width: 100%;
      }

      width: 120px;
    }

  }
}

.menu {

  &-toggle {

    @media screen and (min-width: 44.375em) {
      font-size: 16px;
    }

    font-size: 13px;

  }
}

.header {

  &-image {

    img {
      width: 100%;
    }

  }
}

.hinnasto {
	color: white;
	.panel {
		background-color: $main-layout-color;
		border-radius: 0;
		height: 460px;
		margin-bottom: 40px;
		text-align: center;

		h1 {
			border-bottom: 4px solid white;
			padding: 5px 0 15px 0;
		}
		h2 {
			text-transform: uppercase;
			font-size: 1.5em;
			border-bottom: 4px solid white;
			padding: 5px 0;
			padding: 0 40px 15px 40px;
		}
		ul {
			margin: 0;
			list-style: none;
		}
		li {
			padding: 5px 50px 5px 50px;
			list-style: none;
			&::before {
				content: '\2022';
				padding-right: 3px;
			}

		}
	}
}

#mainNaviButton {
  text-transform: none;
  font-family: $main-default-font;
  font-weight: 600;
}

#loginButton {
  font-weight: 600;
}