body, button, input, select, textarea {
  font-family: "Open Sans"; }

.site {
  margin: 0 auto;
  padding: 0; }
  .site-inner {
    max-width: 4096px;
    margin: 0;
    padding: 0; }
  .site-header {
    padding: 0; }
    .site-header-main {
      padding: 0 50px 0 50px; }
  .site-footer {
    background-color: #44c0cc; }
  .site-info p {
    margin: 0 auto; }

.main-navigation {
  font-family: "Open Sans"; }
  .main-navigation li:first-child {
    width: 100px; }
  .main-navigation li:nth-child(2) {
    width: 120px; }

.header-image img {
  width: 100%; }

#mainNaviButton {
  text-transform: none;
  font-family: "Open Sans";
  font-weight: 600; }
