.button {
  margin: 0 !important;
  height: 40px !important;
  width: 150px !important;
  text-align: center;
  background-color: #ffffff !important;
  color: #44c0cc !important; }
  .button-nav {
    display: inline-block;
    font-family: "Open Sans";
    font-weight: 600; }
  .button-login {
    font-weight: 600; }

.menu-toggle {
  font-size: 13px; }
  @media screen and (min-width: 44.375em) {
    .menu-toggle {
      font-size: 16px; } }

.register-input {
  height: 40px !important;
  text-align: center;
  background-color: #44c0cc !important;
  border-color: #ffffff !important;
  box-sizing: border-box;
  margin-right: 30px !important; }
  @media screen and (max-width: 1376px) {
    .register-input {
      margin-right: 10px !important; } }
  @media screen and (max-width: 600px) {
    .register-input {
      margin-right: 0px !important; } }

::-webkit-input-placeholder {
  color: #ffffff !important;
  font-size: 1em !important; }

.login-panel {
  width: 100%;
  height: 30px;
  background-color: #44c0cc;
  z-index: 99998;
  position: relative;
  top: 0;
  left: 0; }
  .login-panel-buttons {
    border-left: 1px solid white;
    height: 100%;
    color: white; }
    .login-panel-buttons > a {
      position: relative;
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      color: white;
      padding: 6px 15px 0 15px;
      height: 30px;
      font-size: 0.9em; }
      .login-panel-buttons > a:hover {
        text-decoration: none; }

.separated-panel {
  background-color: #44c0cc;
  min-height: 460px;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  color: white;
  margin: 20px 0 20px 0; }
  .separated-panel.is-taller {
    min-height: 510px; }
  .separated-panel .title {
    width: 100%;
    height: 130px;
    margin: auto auto;
    border-bottom: 2px solid white;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .separated-panel .title > * {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-top: 0;
      margin-bottom: 0; }
  .separated-panel .content {
    padding: 25px 35px 25px 35px;
    height: 100%;
    position: relative;
    display: block; }
    .separated-panel .content p {
      margin: 15px 0px 15px 0px; }
    .separated-panel .content > *:first-child {
      margin-top: 0; }
    .separated-panel .content > *:last-child {
      margin-bottom: 0; }

.contentblock {
  padding: 50px 0px 50px 0px;
  text-align: center; }
  .contentblock.is-colored {
    background-color: #44c0cc;
    color: white; }
  .contentblock.is-paddingless > * {
    padding: 0 !important; }
    @media screen and (max-width: 800px) {
      .contentblock.is-paddingless > * {
        padding: 0 20px 0 20px !important; } }
    @media screen and (min-width: 771px) and (max-width: 779px) {
      .contentblock.is-paddingless > * button {
        margin-top: 15px !important; } }
  .contentblock > * {
    max-width: 1200px; }
    @media screen and (max-width: 1200px) {
      .contentblock > * {
        padding: 0 100px 0 100px !important; } }
    @media screen and (max-width: 600px) {
      .contentblock > * {
        padding: 0 20px 0 20px !important; } }
  .contentblock .title {
    text-transform: uppercase;
    font-weight: bold;
    margin: auto auto;
    margin-bottom: 15px; }
    .contentblock .title.is-marginless {
      margin-bottom: 0px; }
  .contentblock .content {
    padding: 0px;
    margin: auto auto; }

.main-navigation {
  font-family: "Open Sans"; }
  .main-navigation li:first-child {
    width: 100px; }
    @media screen and (max-width: 56.875em) {
      .main-navigation li:first-child {
        width: 100%; } }
  .main-navigation li:nth-child(2) {
    width: 120px; }
    @media screen and (max-width: 56.875em) {
      .main-navigation li:nth-child(2) {
        width: 100%; } }
  .main-navigation a {
    text-transform: uppercase;
    font-weight: bold;
    color: #44c0cc; }
    .main-navigation a:hover {
      text-decoration: none; }

.largetitle {
  color: #7D7979;
  border-bottom: 1px solid #44c0cc;
  padding: 5px 0 15px 0;
  font-weight: 600;
  text-transform: uppercase; }

.faqpanels {
  margin: 15px 0 0 0; }
  .faqpanels .collapsepanel {
    border: 1px solid #44c0cc;
    margin-bottom: 20px; }
    .faqpanels .collapsepanel:last-child {
      margin-bottom: 0px; }
    .faqpanels .collapsepanel.is-open .title > .icon > i::before {
      content: "\F068"; }
    .faqpanels .collapsepanel.is-open .content {
      display: block; }
    .faqpanels .collapsepanel .title {
      background-color: #44c0cc;
      cursor: pointer;
      color: white;
      font-weight: bold;
      padding: 20px 25px 20px 25px; }
      .faqpanels .collapsepanel .title .icon {
        float: right; }
        .faqpanels .collapsepanel .title .icon i::before {
          content: "\F067"; }
    .faqpanels .collapsepanel .content {
      padding: 20px 25px 20px 25px;
      padding-right: 50px;
      display: none; }

.header-block {
  background-image: url("http://kassavirtanen.local/wp-content/uploads/2016/12/kassavirtanen_header.png");
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  word-wrap: break-word;
  background-position: center; }
  .header-block > h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 2.3em;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 1px 5px #7D7979;
    margin: 0;
    text-align: center; }

.header-image img {
  width: 10%; }

.footer {
  background-color: #44c0cc;
  padding-top: 50px;
  margin-top: 50px; }
  .footer-info {
    text-align: left; }
    .footer-info p {
      margin: 0 auto;
      font-size: 12px;
      color: #ffffff; }
    .footer-info a {
      color: white; }
      .footer-info a:hover {
        color: #000000;
        text-decoration: none; }
    .footer-info-title {
      font-weight: bold; }
  .footer-copyright {
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 40px; }
    .footer-copyright p {
      margin: 0;
      margin-bottom: 10px; }
  .footer-icons {
    color: white;
    margin: auto;
    margin-top: 60px; }
    .footer-icons .container {
      max-width: 300px; }
    .footer-icons a {
      font-size: 2em;
      color: white; }
      .footer-icons a:hover {
        text-decoration: none;
        color: white; }

.image-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .image-center > .image-holder {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }

body, button, input, select, textarea {
  font-family: "Open Sans"; }

.site {
  position: relative;
  margin: 0 auto;
  padding: 0; }
  .site-content {
    padding: 0; }
  .site-inner {
    max-width: 4096px;
    margin: 0;
    padding: 0; }
  .site-header {
    padding: 0; }
    .site-header-main {
      padding: 0 50px 0 40px; }

.kassavirtanenbrand {
  font-family: sans-serif;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0; }

body:not(.custom-background-image):before, body:not(.custom-background-image):after {
  height: 0px; }
