.footer {
  background-color: $main-layout-color;
  padding-top: 50px;
  margin-top: 50px;

  &-info {
    text-align: left;

    p {
      margin: $margin-auto;
      font-size: 12px;
      color: #ffffff;
    }

    a {
      color: white;

      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }

    &-title {
      font-weight: bold;
    }
  }

  &-copyright {
    color: $white-color;
    width:100%;
    text-align: center;
    margin-top: 40px;

    p {

      margin: 0;
      margin-bottom: 10px;

    }
  }

  &-icons {
    color: white;
    margin: auto;
    margin-top: 60px;

    .container {
      max-width: 200px;
    }

    a {
      font-size: 2em;
      color: white;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}
