.main-navigation {
  font-family: $main-default-font;

  li {
    &:first-child {

      @media screen and (max-width: 56.875em) {
        width: 100%;
      }

      width: 100px;
    }

    &:nth-child(2) {

      @media screen and (max-width: 56.875em) {
        width: 100%;
      }

      width: 120px;
    }

    &.current-menu-item>a {
      text-decoration: underline;
    }
  }

  a {
    text-transform: uppercase;
    font-weight: bold;
    color: $main-layout-color;

    &:hover {
      text-decoration: none;
    }
  }
}
